<a href="https://colab.research.google.com/github/enninobiz/alx-low_level_programming/blob/master/My_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Variables, Numbers and Printing**

# Strings

In [ ]:
my_string =  "Hello, World!"
print(my_string)

Hello, World!

In [ ]:
my_string_with_quotes = "Hello, it's me."
print(my_string_with_quotes)

Hello, it's me.

In [ ]:
another_one = 'He said, "You are amazing!."'
print(another_one)

He said, "You are amazing!."

In [ ]:
again = 'She said, \'I like your shirt.\''
print(again)

She said, 'I like your shirt.'

In [ ]:
multiple_lines = """Hello, World.

I am learning Python."""
print(multiple_lines)

Hello, World.

I am learning Python.

In [ ]:
name = "Papa"
greeting = "hello, " + name + "." + " How are you?"
print(greeting)

hello, Papa. How are you?

In [ ]:
age = "50"
my_age = "I am " + age + " years old."
print(my_age)

I am 50 years old.

In [ ]:
other_age = 40
age_as_string = str(other_age)
other_age_in_string = "I am " + age_as_string + " years old."
print(other_age_in_string)

I am 40 years old.

# **Strings Formatting**

In [ ]:
age = 10
print(f"You are {age} years old")

You are 10 years old

In [ ]:
name = "Papa"
greeting = f"How are you today, {name}?"
print(greeting)

How are you today, Papa?

In [ ]:
name = "Papa"
final_greeting = "How are you today, {}?"
Papa_greeting = final_greeting.format(name)
print(Papa_greeting)

Jazib_greeting = final_greeting.format("Jazib")
print(Jazib_greeting)

How are you today, Papa?
How are you today, Jazib?

# **User Input in Python**

In [ ]:
name = "Papa"
your_name = input("Tell me your name: ")
print(f"Hello, {your_name}. My name is {name}")

Tell me your name: Jazib
Hello, Jazib. My name is Papa

In [ ]:
my_name = "Papa"
first_name = input("What is your firt name: ")
last_name = input("What is your last name: ")
print(f"Hello, {first_name} {last_name}. My name is {my_name}")

What is your firt name: Jazib
What is your last name: Ennin
Hello, Jazib Ennin. My name is Papa

In [ ]:
my_name = "Papa"
first_name = input("What is your firt name: ")
last_name = input("What is your last name: ")
print(f"Hello, {first_name} {last_name}. My name is {my_name}")

your_age = input("May I know your age: ")
print(f"{your_age} years old! Wow that is amazing")

What is your firt name: Joe
What is your last name: Kool
Hello, Joe Kool. My name is Papa
May I know your age: 20
20 years old! Wow that is amazing

In [ ]:
age = input("Please tell me your age: ")
age_num = int(age)
print(f"You have lived for {age_num * 12} months. This is interesting")

Please tell me your age: 20
You have lived for 240 months. This is interesting

In [ ]:
age = int(input("How old are you: "))
print(f"Congrats! You have lived for {age * 12} months on earth.")

How old are you: 10
Congrats! You have lived for 120 months on earth.

In [ ]:
age = int(input("How old are you: "))
your_months = age * 12
print(f"Congrats! You have lived for {your_months} months on earth.")

How old are you: 50
Congrats! You have lived for 600 months on earth.

In [ ]:
des = "{} is {age} years old"
print(des.format("Bob", age=12))

Bob is 12 years old

# **Booleans**

In [ ]:
my_number = 10
your_number = int(input("Please tell me a number: "))
print(my_number == your_number)

Please tell me a number: 10
True

In [ ]:
my_num = 100
your_num = int(input("Please tell me a number: "))
truth = my_num > your_num
print(f"your answer is {truth}")

Please tell me a number: 200
your answer is False

# **And & Or**

In [ ]:
amount = 25
total = amount < 30 and amount == 25
print(total)

True

In [ ]:
default_age = 50
age = 0

actual_age = age or default_age
print(actual_age)

50

In [ ]:
default_name = "Madam"
real_name = input("Please tell me your name (optional): ")

actual_name = real_name or default_name
print(f"Hello, {actual_name}. Nice to meet you. ")

Please tell me your name (optional):
Hello, Madam. Nice to meet you.

# **Lists, Tuples, Sets and Dictionaries**

In [ ]:
animals = ["cat", "dog", "bird"]

print(animals[0])
print(animals[1])

cat
dog

In [ ]:
friends = ["James", "Ama", "Dan", "Kofi"]
print(len(friends))

4

In [ ]:
friends_ages = [["James", 20], ["Ama", 25], ["Dan", 30], ["Kofi", 22]]

print(friends_ages[0][1])
print(friends_ages[1][0])
print(friends_ages[2][0])
print(friends_ages[3][1])

20
Ama
Dan
22

In [ ]:
friends = ["James", "Ama", "Dan", "Kofi"]
friends.append("Max")

print(friends)

['James', 'Ama', 'Dan', 'Kofi', 'Max']

In [ ]:
friends = ["James", "Ama", "Dan", "Kofi"]
friends.remove("Ama")

print(friends)

['James', 'Dan', 'Kofi']

In [ ]:
friends_ages = [["James", 20], ["Ama", 25], ["Dan", 30], ["Kofi", 22]]
friends_ages.remove(["Kofi", 22])

print(friends_ages)

[['James', 20], ['Ama', 25], ['Dan', 30]]

**Tuples & Sets**

In [ ]:
pets = ("cat", "dog", "lion") #Tuples
pets = pets + ("rabbit",)
print (pets)

('cat', 'dog', 'lion', 'rabbit')

In [ ]:
cars = {"Toyota", "BMW", "Mercedes"} #sets
cars.add("Tesla")
print(cars)

{'Toyota', 'BMW', 'Mercedes', 'Tesla'}

In [ ]:
cars = {"Toyota", "BMW", "Mercedes"}
cars.remove("BMW")
print(cars)

{'Toyota', 'Mercedes'}

In [ ]:
cars = {"Toyota", "BMW", "Mercedes"}
trucks = {"Volvo", "Scania", "Toyota"}

cars_but_not_trucks = cars.difference(trucks)
print(cars_but_not_trucks)

{'BMW', 'Mercedes'}

In [ ]:
cars = {"Toyota", "BMW", "Mercedes"}
trucks = {"Volvo", "Scania", "Toyota"}

trucks_but_not_cars = trucks.difference(cars)
print(trucks_but_not_cars)

{'Volvo', 'Scania'}

In [ ]:
cars = {"Toyota", "BMW", "Mercedes"}
trucks = {"Volvo", "Scania", "Toyota"}

not_in_both = cars.symmetric_difference(trucks)
print(not_in_both)

{'BMW', 'Mercedes', 'Volvo', 'Scania'}

In [ ]:
cars = {"Toyota", "BMW", "Mercedes"}
trucks = {"Volvo", "Scania", "Toyota"}

both_cars_and_trucks = cars.intersection(trucks)
print(both_cars_and_trucks)

{'Toyota'}

In [ ]:
cars = {"Toyota", "BMW", "Mercedes"}
trucks = {"Volvo", "Scania", "Toyota"}

vehicles = cars.union(trucks)
print(vehicles)

{'Toyota', 'BMW', 'Mercedes', 'Volvo', 'Scania'}

In [ ]:
cars = {"Toyota", "BMW", "Mercedes"}
trucks = {"Volvo", "Scania", "Toyota"}

add_more_vehicles = cars.update(trucks)
print(cars)

{'Toyota', 'BMW', 'Mercedes', 'Volvo', 'Scania'}

**Dictionaries**

In [1]:
friends_info = {"Adams": 33, "Kofi": 25, "Ama": 22}

print(friends_info["Adams"])

33

In [3]:
friends_info = {"Adams": 33, "Kofi": 25, "Ama": 22}
friends_info["James"] = 28
friends_info["Ama"] = 40

print(friends_info)

{'Adams': 33, 'Kofi': 25, 'Ama': 40, 'James': 28}

In [5]:
friends = (
    {"name": "John", "age": 21},
    {"name": "Anna", "age": 19},
    {"name": "Dave", "age": 30},
    {"name": "Ken", "age": 24}
) #List of dictionaries
print(friends[0]["name"])

John

In [6]:
siblings = [("John", 21), ("Anna", 19), ("Dave", 30), ("Ken", 24)]
siblings_info = dict(siblings) #converting list of tuples into dictionaries
print(siblings_info)

{'John': 21, 'Anna': 19, 'Dave': 30, 'Ken': 24}

**Sum** **and** **Length**

In [9]:
marks = [90, 82, 73, 90]
total = sum(marks)
length = len(marks)
print(total)
print(length)

335
4

In [10]:
marks = [90, 82, 73, 90]
total = sum(marks)
length = len(marks)
average = total / length

print(average)

83.75

In [11]:
friends = ["James", "Ama", "Dan", "Kofi"]
comma_separated = ", ".join(friends)
print(f"My friends are {comma_separated}.")

My friends are James, Ama, Dan, Kofi.